{% extends "layout.html" %}

{% block body %}

<nav class="navbar has-shadow is-white">
    <a class="navbar-item" style="max-height: 70px;" class="py-2 px-2">
    </a>

    <div class="navbar-logo">
        <div class="navbar-item">
            <img src="../../public/img/peace.jpg" alt="hello" >
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" class= "active">Home</a>
            <a href="/citizens/create-citizen"  class="navbar-item">Register</a>
        </div>
    </div>
</nav>

    <div class="container">
        <section class="section">
        <div class="columns is-flex is-justify-content-center is-align-items-center">
            <div class="column">
            <div class="row ">
                <img src="../../public/img/peace.jpg" alt=" image" style="height: 500px; width: 500px;" class="is centered">
            </div>
            </div>
                    
            <div class="column">
            <h1 class=" is-size-1 has-text-weight-bold">WELCOME CITIZEN</p>
            <h2 class="is-size-4 is-align-items-center is-italic">This is a website for the govervenment to have a record of each one of you. Please register and submit.</p>
                      
            </div>
                  
        </div>
        
            <div class="row has-text-centered">
                <h3 class="is-size-4 title ">CA3 Project By: Obasi-Kalu Peace</h1>
                
            </div>
            
        
      
        
    
</section>
</div>


{% endblock %}